<footer>
  <div class="footer-content">
    <p>&copy; {{currentYear}} M.J. Todos los derechos reservados.</p>
    <p>
      <a href="mailto:merzicaniz@gmail.com">Contactar</a>
    </p>
  </div>
</footer>