<header>
  <div class="logo">M.J</div>
  <nav class="header-nav">
    <a href="/">Inicio</a>
    <a href="/sobremi">Sobre mí</a>
    <a href="/HABILIDADES">Habilidades</a>
    <a href="/CURRICULUM">Currículum</a>
    <a href="/PORTAFOLIO">Portafolio</a>
    <a href="/CONTACTO">Contactos</a>
  </nav>
</header>