<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>M.J - Contacto</title>
  <link rel="stylesheet" href="../assets/css/styles-ct.css"> 
</head>
<body>
  {{> header}}

  <div class="contact-section">
    <h2>Contacto</h2>
    <div class="contact-info">
      <div class="contact-item">
        <p><strong>Nombre:</strong> Merzi Julia M. Caniz Pacheco</p>
      </div>
      <div class="contact-item">
        <p><strong>Teléfono:</strong> 4810-4513</p>
      </div>
      <div class="contact-item">
        <p><strong>Correo Electrónico:</strong> merzicaniz1099@gmail.com</p>
      </div>
    </div>
  </div>

  {{> footer}}
</body>
</html>