<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>M.J - Portafolio</title>
  <link rel="stylesheet" href="../assets/css/styles-pt.css"> 
  <script src="app.js/port.js" defer></script> 
</head>
<body>

  {{> header}}

  <div class="portafolio-section">
    <div class="portafolio-item" onclick="toggleExpand(this)">
      <div class="front">
        <img src="../Imagenes/INICIO DE BANCOPOLY.png" alt="Bancapoly Game">
        <h3>Bancapoly</h3>
        <p>Juego elaborado en NetBeans, lenguaje Java.</p>
      </div>
      <div class="back">
        <p>Proyecto presentado a continuación se dará a conocer los pasos que se llevaron a cabo para realizar el proyecto “BANCOPOLY”. El seudocódigo de dicho proyecto está realizado en lenguaje Java, el cual contiene condicionales, métodos, clases, paneles, objetos, entre otras. El proyecto contiene el tablero ilustrativo, las reglas y piezas correspondientes a dicho juego.</p>
        <a href="../documentos de los proyectos/Informe Progra final.pdf" download class="download-btn">Descargar Documentación</a>
        <a href="https://drive.google.com/file/d/1hGX6auiM1VsNDIQhdsRR4Uk1ZVN-Du2F/view?usp=sharing" class="visualization-button">Visualización del video </a>
      </div>
    </div>
    
    <div class="portafolio-item" onclick="toggleExpand(this)">
      <div class="front">
        <img src="../Imagenes/CALCULADORA.png" alt="Calculadora">
        <h3>Calculadora</h3>
        <p>Manual de usuario que describe el funcionamiento.</p>
      </div>
      <div class="back">
        <p>Proyecto presentado a continuación se dará a conocer los pasos que se llevaron a cabo para realizar el proyecto “CALCULADORA”. El seudocódigo de dicho proyecto está realizado en lenguaje Java, el cual contiene condicionales, métodos, paneles, entre otras. El proyecto contiene el tablero ilustrativo correspondientes a dicho juego.</p>
        <a href="../documentos de los proyectos/proyecto final de calculo II.pdf" download class="download-btn">Descargar Documentación</a>
      </div>
    </div>

    <div class="portafolio-item" onclick="toggleExpand(this)">
      <div class="front">
        <img src="../Imagenes/ESTADISTICA.png" alt="Teoremas de Estadística">
        <h3>Teoremas de Estadística</h3>
        <p>Programa elaborado en NetBeans, lenguaje Java.</p>
      </div>
      <div class="back">
        <p>El proyecto presentado a continuación contiene 9 teoremas vistos en clase, por lo tanto, el mismo está programado con el lenguaje Java y contiene 9 paneles que pueden calcular los teoremas sin necesidad de calcularlo manualmente porque el mismo los resuelve al insertar las cantidades.</p>
        <a href="../documentos de los proyectos/Informe Estadistica 2.01 (2).pdf" download class="download-btn">Descargar Documentación</a>
         <a href="https://drive.google.com/file/d/1X2PpcbwKEraX0reV1yRmCf5XqyfODL57/view?usp=sharing" class="visualization-button">Visualización del video </a>
      </div>
    </div>

    <div class="portafolio-item" onclick="toggleExpand(this)">
      <div class="front">
        <img src="../Imagenes/SO.png" alt="Programa de Software">
        <h3>Programa de Software</h3>
        <p>Programa elaborado en Visual Studio 2022.</p>
      </div>
      <div class="back">
        <p>El presente documento contiene la información que necesita el usuario acerca del proyecto que se trabajó a lo largo de estos días en el curso de Sistemas Operativos, el cual tiene una interfaz gráfica que ayudará tanto al usuario a interactuar dentro de una base llamada comandos Windows que son: Netstat, Winver, AppWiz, Dxdiag, Tasklist, Perfom.</p>
        <a href="../documentos de los proyectos/annotated-SOF.pdf" download class="download-btn">Descargar Documentación</a>
        <a href="https://drive.google.com/file/d/1DprbVsSe_B-nQ4zvlz10z5k7zlwdJtOR/view?usp=sharing" class="visualization-button">Visualización del video </a>
      </div>
    </div>

    <div class="portafolio-item" onclick="toggleExpand(this)">
      <div class="front">
        <img src="../Imagenes/TOTITO.png" alt="Totito">
        <h3>Totito</h3>
        <p>Juego clásico llamado TOTITO.</p>
      </div>
      <div class="back">
        <p>Proyecto presentado a continuación se dará a conocer los pasos que se llevaron a cabo para realizar el proyecto “TOTITO”. El seudocódigo de dicho proyecto está realizado en lenguaje Java, el cual contiene condicionales, métodos, clases, paneles, objetos, entre otras. El proyecto contiene el tablero ilustrativo, las reglas y piezas correspondientes a dicho juego.</p>
        <a href="../documentos de los proyectos/Juego de Totito en Java.pdf" download class="download-btn">Descargar Documentación</a>
        
      </div>
    </div>
  </div>
  {{> footer}}
</body>
</html>