<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sobre Mí - Merzi Caniz P.</title>
  <link rel="stylesheet" href="../assets/css/styles-s.css"> 
</head>
<body>
  {{> header}}

  <div class="about-section">
    <h1>Sobre Mí</h1>
    <p>
      Mi nombre es Merzi Julia M. Caniz Pacheco. Soy estudiante de Ingeniería en sistemas.
      Me considero una persona respetuosa en todos los ámbitos de la vida y tengo la idea de que nadie
      nace sabiendo, con deseos de aprender cosas nuevas. Estoy enfocada en lo que se tiene que hacer ya sea
      en el trabajo o en la vida. Dejar todo bien hecho es mi objetivo, y también considero que soy alguien que
      puede trabajar bajo presión de manera independiente.
    </p>

    <div class="personal-details">
      <div>
        <h2>Datos Personales</h2>
        <p><span class="highlight">Fecha de Nacimiento:</span> 14/12/2001</p>
        <p><span class="highlight">Email:</span> merzicaniz@gmail.com</p>
        <p><span class="highlight">Dirección:</span> Aldea San Juan Argueta Sololá</p>
      </div>
      <div>
        <h2>Intereses</h2>
        <p> Dibujos</p>
        <p> Musica</p>
        <p> Informatica</p>
      </div>
     {{!-- </div>
     <a href="../documentos de los proyectos/CV Merzi Caniz[1].pdf" class="cv-button">Visualizacion del CV</a>
  </div>   --}}
  {{> footer}}
</body>
</html>