<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>M.J - Contacto</title>
  <link rel="stylesheet" href="/public/assets/css/stylesCT.css"> <!-- Enlaza con el CSS unificado -->
</head>
<body>
  <header>
    <h1 class="logo">M.J</h1>
    <nav class="header-nav">
        <a href="index.html">Inicio</a>
        <a href="SOBRE MI.HTML">Sobre mí</a>
        <a href="HABILIDADES.HTML">Habilidades</a>
        <a href="CURRICULUM.HTML">Currículum</a>
        <a href="PORTAFOLIO.HTML">Portafolio</a>
        <a href="CONTACTO.HTML">Contactos</a>
    </nav>
  </header>
  
  <div class="contact-section">
    <h2>Contacto</h2>
    <div class="contact-info">
      <div class="contact-item">
        <p><strong>Nombre:</strong> Merzi Julia M. Caniz Pacheco</p>
      </div>
      <div class="contact-item">
        <p><strong>Teléfono:</strong> 4810-4513</p>
      </div>
      <div class="contact-item">
        <p><strong>Correo Electrónico:</strong> merzicaniz1099@gmail.com</p>
      </div>
    </div>
  </div>

  <footer>
    <p>© 2024 M.J. Todos los derechos reservados.</p>
  </footer>
</body>
</html>
