<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>M.J - Portafolio</title>
  <link rel="stylesheet" href="/public/assets/css/stylesPT.css"> 
  <script src="app.js/port.js" defer></script> 

</head>
<body>

  <header>
    <h1>M.J</h1>
    <nav class="header-nav">
      <a href="index.html">Inicio</a>
      <a href="SOBRE MI .HTML">Sobre mí</a>
      <a href="HABILIDADES.HTML">Habilidades</a>
      <a href="CURRICULUM.HTML">Currículum</a>
      <a href="PORTAFOLIO.HTML">Portafolio</a>
      <a href="CONTACTO.HTML">Contactos</a>
    </nav>
  </header>
  <div class="portafolio-section">
    <div class="portafolio-item" onclick="toggleExpand(this)">
      <div class="front">
        <img src="/public/Imagenes/INICIO DE BANCOPOLY.png" alt="Bancapoly Game">
        <h3>Bancapoly</h3>
        <p>Juego elaborado en NetBeans, lenguaje Java.</p>
      </div>
      <div class="back">
        <p>proyecto presentado continuación se dará a conocer los pasos que se llevaron acaba para realizar el proyecto 
          “BANCOPOLY”. El seudocódigo de dicho proyecto está realizado en lenguaje java, el cual contiene condicionales, 
          métodos, clases, paneles, objetos, entre otras. El proyecto contiene el tablero ilustrativo, las reglas y piezas
           correspondientes a dicho juego..</p>
        <a href="/public/documentos de los proyectos/Informe Progra final.pdf" download class="download-btn">Descargar Documentación</a>
      </div>
    </div>
    <div class="portafolio-item" onclick="toggleExpand(this)">
      <div class="front">
        <img src="/public/Imagenes/CALCULADORA.png" alt="Calculadora">
        <h3>Calculadora</h3>
        <p>Manual de usuario que describe el funcionamiento.</p>
      </div>
      <div class="back">
        <p>proyecto presentado continuación se dará a conocer los pasos que se llevaron acaba para realizar el proyecto
           “CALCULADORA”. El seudocódigo de dicho proyecto está realizado en lenguaje java, el cual contiene condicionales, 
           métodos, paneles,entre otras. El proyecto contiene el tablero ilustrativo
            correspondientes a dicho juego.</p>
        <a href="/public/documentos de los proyectos/proyecto final de calculo II.pdf" download class="download-btn">Descargar Documentación</a>
      </div>
    </div>
    <div class="portafolio-item" onclick="toggleExpand(this)">
      <div class="front">
        <img src="/public/Imagenes/ESTADISTICA.png" alt="Teoremas de Estadística">
        <h3>Teoremas de Estadística</h3>
        <p>Programa elaborado en NetBeans, lenguaje Java.</p>
      </div>
      <div class="back">
        <p>El proyecto presentado a continuación contiene 9 teoremas vistos en clase por lo tanto el mismo está programado con el lenguaje de JAVA y esta misma contiene 9 paneles con las que pueden calcular los teoremas sin necesidad de
           calcularlo manualmente porque el mismo las resuelve al insertar las cantidades.</p>
        <a href="/public/documentos de los proyectos/Informe Estadistica 2.01 (2).pdf" download class="download-btn">Descargar Documentación</a>
      </div>
    </div>
    <div class="portafolio-item" onclick="toggleExpand(this)">
      <div class="front">
        <img src="/public/Imagenes/SO.png" alt="Programa de Software">
        <h3>Programa de Software</h3>
        <p>Programa elaborado en Visual Studio 2022.</p>
      </div>
      <div class="back">
        <p>El presente documento contiene la información que necesita el usuario acerca del proyecto que se trabajo a lo largo de estos días en el curso de Sistemas Operativos el cual este interfaz grafico ayudara tanto, al usuario a interactuar dentro de una base llamada comandos Windows que son:
          ✓
          Netstat
          ✓
          Winver
          ✓
          AppWiz
          ✓
          Dxdiag
          ✓
          Tasklist
          ✓
          Perfom.</p>
        <a href="/public/documentos de los proyectos/ de los proyectos/annotated-SOF.pdf" download class="download-btn">Descargar Documentación</a>
      </div>
    </div>
    <div class="portafolio-item" onclick="toggleExpand(this)">
      <div class="front">
        <img src="/public/Imagenes/TOTITO.png" alt="Totito">
        <h3>Totito</h3>
        <p>Juego clásico llamado TOTITO.</p>
      </div>
      <div class="back">
        <p>proyecto presentado continuación se dará a conocer los pasos que se llevaron acaba para realizar el proyecto 
          “TOTITO”. El seudocódigo de dicho proyecto está realizado en lenguaje java, el cual contiene condicionales, 
          métodos, clases, paneles, objetos, entre otras. El proyecto contiene el tablero ilustrativo, las reglas y piezas
           correspondientes a dicho juego..</p>
        <a href="/public/documentos de los proyectos/Juego de Totito en Java.pdf" download class="download-btn">Descargar Documentación</a>
      </div>
    </div>
  </div>
  <!-- Video de fondo -->
<video class="background-video" autoplay muted loop>
  <source src="/public/assets/videos/fondo.mp4" type="video/mp4">
  Tu navegador no soporta la etiqueta de video.
</video>

</body>
</html>
