body {
  background-color: #0C222F;
  font-family: Arial, sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
}

.portafolio-section {
  position: relative; 
  z-index: 1;
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px; /* Espacio entre tarjetas */
  max-width: 1200px;
  margin: 0 auto;
}

.portafolio-item {
  position: relative;
  width: 100%;
  aspect-ratio: 20 / 25;
  perspective: 1000px;
  cursor: pointer;
  margin-bottom: 80px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s; /* Transición suave para el efecto de hover */
}

.portafolio-item:hover {
  transform: scale(1.05); /* Efecto de ampliación al pasar el mouse */
}

.portafolio-item .front,
.portafolio-item .back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  backface-visibility: hidden;
  transition: transform 0.6s;
}

.portafolio-item .front {
  background-color: #153044;
  display: flex;
  flex-direction: column;
}

.portafolio-item .front img {
  width: 100%;
  height: 60%; /* Ajuste para mayor altura */
  object-fit: cover;
  border-radius: 12px 12px 0 0; /* Bordes redondeados solo en la parte superior */
}

.portafolio-item .front h3 {
  padding: 15px; /* Reducción del padding */
  margin: 0;
  font-size: 22px; /* Tamaño de fuente aumentado */
  font-weight: bold;
  color: #FEF414; /* Amarillo */
}

.portafolio-item .front p {
  padding: 0 15px 20px; /* Reducción del padding */
  margin: 0;
  font-size: 16px; /* Tamaño de fuente aumentado */
  color: #ddd;
  flex-grow: 1; /* Permite que el texto crezca */
}

.portafolio-item .back {
  background-color: #1a1a1a;
  color: #ddd;
  transform: rotateY(180deg); /* Inicia en la parte posterior */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.portafolio-item:hover .front {
  transform: rotateY(180deg);
}

.portafolio-item:hover .back {
  transform: rotateY(0deg);
}

/* Estilos del encabezado */
header {
  background-color: #0c1a27;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
  font-size: 24px;
  color: #32B61C; /* Verde */
}

.header-nav {
  display: flex;
}

.header-nav a {
  color: #FEF414; /* Amarillo */
  text-decoration: none;
  margin-left: 20px;
  padding: 10px;
  transition: background-color 0.3s;
  font-weight: bold;
}

.header-nav a:hover {
  background-color: #ffd700; /* Amarillo más claro */
}

/* Botones */
.download-btn,
.visualization-button {
  margin-top: 15px;
  padding: 10px 15px;
  background-color: #32B61C; /* Verde */
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.download-btn:hover,
.visualization-button:hover {
  background-color: #28a745; /* Verde más oscuro */
  transform: scale(1.05);
}

/* Media Queries para hacer el diseño responsivo */
@media (max-width: 768px) {
  .portafolio-section {
    grid-template-columns: repeat(2, 1fr); /* Dos columnas en pantallas medianas */
  }
  
  header {
    flex-direction: column; /* Cambiar a columna en pantallas pequeñas */
    align-items: flex-start; /* Alinear a la izquierda */
  }

  header h1 {
    font-size: 20px; /* Ajustar tamaño de logo */
  }

  .header-nav a {
    margin: 5px 0; /* Margen vertical en enlaces */
    font-size: 16px; /* Ajustar tamaño de fuente */
  }
}

@media (max-width: 480px) {
  .portafolio-section {
    grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
  }

  header {
    padding: 10px; /* Ajustar padding del encabezado */
  }

  header h1 {
    font-size: 18px; /* Reducir tamaño de logo */
  }

  .header-nav a {
    font-size: 14px; /* Reducir tamaño de fuente */
  }

  .portafolio-item {
    margin-bottom: 40px; /* Reducir margen inferior entre tarjetas */
  }
}