body {
  background-color: #0C222F;
  font-family: Arial, sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
}

header {
  background-color: #0c1a27;
  color: #1CB698;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
  font-size: 24px;
  color: #32B61C; 
}

header nav {
  display: flex;
  justify-content: center;
}

header nav a {
  color: #FEF414;
  text-decoration: none;
  padding: 10px;
  font-weight: bold;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

header nav a:hover {
  background-color: #ffd700;
}

.container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
}

.section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.section h2 {
  flex-basis: 30%;
  font-size: 24px;
  font-weight: bold;
  color: #FEF414; 
}

.section-content {
  flex-basis: 65%;
}

.section-content h3 {
  font-size: 18px;
  margin-top: 0;
  color: #1CB698; 
}

.section-content p {
  margin-top: 5px;
}

/* Media Queries para hacer el diseño responsivo */
@media (max-width: 768px) {
  header {
      flex-direction: column;
      align-items: flex-start;
  }

  header nav {
      margin-top: 10px;
      flex-wrap: wrap; /* Permite que los enlaces se envuelvan */
      justify-content: flex-start; /* Alinea a la izquierda */
  }

  .section {
      flex-direction: column; /* Cambia a columna en pantallas más pequeñas */
  }

  .section h2 {
      flex-basis: auto; /* Permite que el título use el espacio completo */
      margin-bottom: 10px;
      font-size: 22px; 
  }

  .section-content {
      flex-basis: auto; /* Permite que el contenido use el espacio completo */
  }
}

@media (max-width: 480px) {
  header h1 {
      font-size: 20px; 
  }

  header nav a {
      font-size: 16px; 
      padding: 8px; 
  }

  .container {
      padding: 10px; 
  }

  .section {
      margin-bottom: 20px; 
  }

  .section h2 {
      font-size: 20px; 
  }

  .section-content h3 {
      font-size: 16px; 
  }
}